html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('../ui/wallpaper.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh
}

body>header {
  text-align: right;
  padding: 6px 8px 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
  color: #fff;
  background: linear-gradient(to top, #245edb 0%, #3f8cf3 9%, #245edb 18%, #245edb 92%, #333 100%) center/cover no-repeat;

  text-align: left;

  & button {
    background-color: #61a323;
    border: 0;
    color: #fff;
    padding: 0.4em 0.5em;
    border-radius: 4px;
    box-shadow: 1px 1px 8px #0009;
    font-size: inherit;
  }

  .header-left {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 16px;
    flex-grow: 1;
  }

  .hide-header-toggle {
    display: none;

    .thread-format & {
      display: block;
    }
  }

  & label {
    font-size: 0.9em;
    line-height: 1.4;
  }

  .show-logon-name,
  #customName,
  .date-toggle,
  .time-toggle {
    .thread-format:not(.show-header) & {
      display: none;
    }
  }
}

#reset {
  background-color: #c20808;
}

.toggle {
  cursor: pointer;
  display: inline-block;

  .toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 52px;
    height: 26px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;

    &:before,
    &:after {
      content: "";
    }

    &:before {
      display: block;
      background: linear-gradient(to bottom, #fff 0%, #eee 100%);
      border-radius: 50%;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
      width: 18px;
      height: 18px;
      position: absolute;
      top: 4px;
      left: 4px;
      transition: left 0.25s;
    }
  }

  &:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }

  .toggle-checkbox:checked+.toggle-switch {
    background: #56c080;
  }

  .toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
  }

  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }

  .toggle-label {
    margin-right: 1px;
    vertical-align: middle;
  }
}

#customName {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 16px;

  >div {
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  & input[type=text] {
    border-radius: 0;
    border: 0;
    padding: 5px 5px;
  }

  &.show>div {
    display: flex;
  }
}

#msn-app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 10px;
  box-sizing: border-box;

  margin: 10px;

  @media only screen and (min-width: 800px) {
    margin: 10px 15vw;
  }
}

#output {
  display: none;
}

body.showChat #drop_zone {
  display: none;
}

body.showChat #output {
  display: grid;
}

#drop_zone {
  .msn_log {
    & p {
      font-size: 1.3em;
      color: #db0000;
    }
  }
}

#xslt {
  display: none;
}

[data-text] {
  &::before {
    content: attr(data-text);
  }
}

body>footer {
  text-align: center;
  color: #fff;
  padding: 0 8px 16px;
  font-size: 0.8em;
  opacity: 0.6;

  & a {
    color: #fff;
  }
}